{% extends "base.html" %}

{% block title %}My World{% endblock %}

{% block header %}Welcome Home!{% endblock %}

{% block content %}

<div class="admin_panel">
    <form name="profileForm" method="POST" action="">
        <div class="frmObject_container label_center">
            {% csrf_token %}
            <label class="label_center" for="profile_id">Select profile to edit</label>
            <select class="select-center" id="profile_id" name="profile" onChange="top.location.href=this.options[this.selectedIndex].value;">
                <option value="">Profiles...</option>
            {% for profile in profiles %}
                <option value="../{{ profile.pk }}/details/">{{ profile.first_name }}</option>
             {% endfor %}
            </select>
<!--            <div class="frmBtn_container">-->
                <a href="{% url 'add_profile' %}" class="btn">Add New Profile</a>
                <a href="{% url 'home' %}" class="btn">Logout</a>
<!--            </div>-->
<!--            {% for name in names %}-->
<!--                <ul>-->
<!--                    {% if name == "Andy" %}-->
<!--                    <li>Hello {{ name }}</li>-->
<!--                    {% else %}-->
<!--                    <li>{{ name }}</li>-->
<!--                    {% endif %}-->
<!--                </ul>-->
<!--            {% endfor %}-->

        </div>
    </form>
</div>

{% endblock %}
