<!--<html>-->
<!--<head><title>Welcome Home</title></head>-->
<!--<body>-->
{% extends "base.html" %}

{% block title %}My World{% endblock %}

{% block header %}Welcome Home!{% endblock %}

{% block content %}

<!--{% for name in names %}-->
<!--    <ul>-->
<!--        {% if name == "Andy" %}-->
<!--        <li>Hello {{ name }}</li>-->
<!--        {% else %}-->
<!--        <li>{{ name }}</li>-->
<!--        {% endif %}-->
<!--    </ul>-->
<!--{% endfor %}-->

<div class="admin_panel">
    <div class="frmObject_container">
        <h2>This </h2> <br>
        <h3> is a basic website built with the Django framework that demonstrates CRUD functionality on single-table SQLite3 database.
            It also shows off one of my photos from Waikiki a few years back. :)</h3><br>
        <h3>Click "Admin Console" in the Nav Bar to interact with the database.</h3>
    </div>
</div>

{% endblock %}
<!--</body>-->
<!--</html>-->