<!--<html>-->
<!--<head><title>Welcome Home</title></head>-->
<!--<body>-->
{% extends "base.html" %}

{% block title %}My World{% endblock %}

{% block header %}Welcome to My World!{% endblock %}

{% block content %}

{% for name in names %}
    <ul>
        {% if name == "Andy" %}
        <li>Hello {{ name }}</li>
        {% else %}
        <li>{{ name }}</li>
        {% endif %}
    </ul>
{% endfor %}

<!--<h1>Welcome to my world, {{ user | title }}!</h1>-->

{% endblock %}
<!--</body>-->
<!--</html>-->