{% extends "base.html" %}

{% block title %}My World{% endblock %}

{% block header %}Add A New Profile{% endblock %}

{% block content %}

<div class="admin_panel">
    <form method="POST" action="{% url 'add_profile' %}">
        <div class="frmObject_container">
            <!--  Cross Site Request Forgery  (csrf_toke) protection-->
            {% csrf_token %}
            {{ form.non_field_errors }} <!-- display errors here-->
            {{ form.as_p }} <!-- display all fields with paragraph tags -->
            <div class="frmBtn_container">
                <input type="submit" class="btn" value="Add Profile" name="Save_Item">
                <a href="{% url 'admin_console' %}" class="btn">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}