{% extends "base.html" %}

{% block title %}My World{% endblock %}

{% block header %}Edit Profile{% endblock %}

{% block content %}

<div class="admin_panel">
    <form name="profileForm" method="POST" action="../details/">
        <div class="fmrObject_container">
            <table>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_table }}
            </table>
            <div class="frmBtn_container">
                <input class="btn" type="submit" value="Save Changes">
            </div>
            <div style="text-align: center">
<!--                <button type="button" class="btn"><a href="../{{ form.pk }}delete/">DELETE</a></button>-->
                <a class="btn" href="../{{ form.pk }}delete/">DELETE</a>
<!--                <a href="../{{ form.pk }}delete/"><button class="btn">DELETE</button></a>-->
                <button class="btn"><a href="{% url 'admin_console' %}">CANCEL</a></button>
            </div>
        </div>
    </form>
</div>

{% endblock %}